@import "./components/FilterList";
.main_categories {
    margin-top: 100px;
    margin-bottom: 100px;
    .filter-category {
        border: 1px solid #efefef;
        padding: 17px 18px 29px;
    }
    .search-store {
        display: flex;
        margin-bottom: 31px;
        .search-store-input {
            border: 2px solid $secondary-color;
            font-family: $font-lora;
            font-weight: 400;
            height: 45px;
            box-shadow: none;
            font-size: 14px;
            padding-left: 10px;
            width: 100%;
            outline: none;
        }
        .search-store-button{
            background-color: $secondary-color;
            color: #fff;
            width: 50px;
            height: 100%;
            line-height: 45px;
            transition: all 0.3s ease-out 0s;
            font-size: 18px
        }
    }
}
