.feature-product-item {
    max-width: 100%;

    .feature-product-image {
        max-width: 100%;
        padding-top: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover .feature-product-favourite {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0);
            transition: all 0.6s ease-in-out;
        }
        &:hover .feature-product-quickview {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0);
            transition: all 0.6s ease-in-out;
        }
    }
    .feature-product-sale {
        position: absolute;
        top: 10px;
        left: 9px;
        width: auto;
        padding: 0px 15px;

        background-color: $secondary-color;

        color: #fff;
        font-size: 12px;
        text-align: center;
        height: 21px;
        line-height: 22px;
        font-weight: 400;
        font-family: $font-lora;
    }
    .feature-product-soldout {
        position: absolute;
        top: 10px;
        left: 9px;
        width: auto;
        padding: 0px 15px;

        background-color: red;

        color: #fff;
        font-size: 12px;
        text-align: center;
        height: 21px;
        line-height: 22px;
        font-weight: 400;
        font-family: $font-lora;
    }
    .feature-product-function {
        position: absolute;
        bottom: 15px;
        right: 15px;
        display: flex;

        .feature-product-favourite {
            background-color: $primary-color;
            width: 40px;
            height: 40px;
            margin-right: 5px;
            position: relative;
            border-radius: 5px;
            transition: all 0.6s ease-in-out;
            opacity: 0;
            visibility: hidden;
            transform: rotateX(90deg);
            .feature-product-favourite_icon {
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                left: 50%;
                color: #000;
                font-size: 18px;
            }
            &:hover {
                background-color: $secondary-color;
            }
            &:hover .feature-product-favourite_icon {
                color: #fff;
            }
        }
        .feature-product-quickview {
            background-color: $primary-color;
            width: 40px;
            height: 40px;
            position: relative;
            border-radius: 5px;
            transition: all 0.6s ease-in-out;
            opacity: 0;
            visibility: hidden;
            transform: rotateX(90deg);
            .feature-product-quickview_icon {
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                left: 50%;
                color: #000;
                font-size: 18px;
            }
            &:hover {
                background-color: $secondary-color;
            }
            &:hover .feature-product-quickview_icon {
                color: #fff;
            }
        }
    }

    .feature-product-info {
        padding-top: 25px;
        padding-bottom: 10px;
        text-align: center !important;
        .feature-product-name {
            font-family: $font-work-sans;
            font-size: 18px;
            font-weight: 500;
            color: #6d6d6d;
            padding-bottom: 8px;
            &:hover {
                color: $secondary-color;
            }
        }
        .feature-product-new-price {
            font-size: 18px;
            font-family: $font-work-sans;
            font-weight: 600;
            color: #333;
            
        }
        .feature-product-old-price {
            font-size: 18px;
            font-family: $font-work-sans;
            font-weight: 600;
            color: #767575;
            text-decoration: line-through;
            margin-left: 5px;
        }
        .feature-product-add {
            padding-top: 6px;
            font-family: $font-work-sans;
            font-size: 16px;
            font-weight: 500;
            color: #6d6d6d;
            text-transform: uppercase;
            &:hover {
                color: $secondary-color;
                cursor: pointer;
            }
        }
        .feature-product-sold-out{
            padding-top: 6px;
            font-family: $font-work-sans;
            font-size: 16px;
            font-weight: 500;
            color: #6d6d6d;
            text-transform: uppercase;
            &:hover {
                color: $secondary-color;
                cursor: not-allowed;
            }
        }
    }
}