.header-cart {
    margin-left: 20px;
    height: 105px;
    position: relative;
    cursor: pointer;
    span {
        position: absolute;
        bottom: 16%;
        text-align: center;
        font-size: 13px;
        width: 18px;
        color: $secondary-color;
    }
    i {
        font-size: 20px;
        font-weight: 500;
    }
    &:hover .header-cart-nav{
        @include navWhenHover;
    }
    .header-cart-nav {
        @include navBeforeHover;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 2;
        background-color: #fff;
        box-shadow: 0 0 7px 0.5px #00000026;
        padding: 31px 35px 10px;
        width: 340px;
        
        .header-cart-empty{
            font-size: 14px;
            padding: 25px 0;
            font-family: $font-playfair;
            font-weight: 400;
            color: #242424;
            line-height: 14px;
        }
    }
    .cart-list {
        max-width: 100%;
        max-height: 232px;
        padding-right: 5px;
        overflow-y: scroll;
        overflow-x: hidden;

        .cart-item {
            display: flex;
            border-bottom: 1px solid #ebebeb;
            padding-top: 10px;
            .cart-item_image {
                margin-right: 15px;
                max-width: 30%;
                height: auto;
            }
            .cart-item_info {
                line-height: 18px;
                width: 340px;
                .cart-item_title {
                    font-size: 14px;
                    color: #242424;
                    line-height: 18px;
                    font-weight: 400;
                    &:hover{
                        color: $secondary-color;
                    }
                }
                .cart-item_quantity {
                    margin-top: 5px;
                    margin-bottom: 10px;
                    color: #7e7e7e;
                    font-size: 13px;
                    font-family: $font-playfair;
                    font-weight: 400;
                    font-style: normal;
                }
                .cart-item_price {
                    font-size: 14px;
                    color: #555;
                    font-family: $font-lora;
                    font-weight: 400;
                }
            }
            .cart-item_remove {
                
                .cart-item_remove-icon {
                    font-size: 12px;
                    color: #666;
                    height: 19px;
                    line-height: 19px;
                    margin-top: 2px;
                    text-align: center;
                    width: 20px;
                    display: block;
                
                    &:hover{
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    .header-cart_summary {
        margin-top: 25px;
        .header-cart_total-item {
            display: flex;
            justify-content: space-between;
            line-height: 14px;
            .header-cart_total {
                font-family: $font-work-sans;
                font-size: 14px;
                color: #242424;
                font-weight: 400;
                font-style: normal;
            }
            .header-cart_price {
                font-family: $font-work-sans;
                font-size: 14px;
                color: $secondary-color;
                font-weight: 400;
                font-style: normal;
            }
        }
        .header-cart_function {
            margin-top: 23px;
            display: flex;
            justify-content: space-between;
            .header-cart_viewcart {
                background-color: $secondary-color;
                border: 1px solid $secondary-color;
                color: #fff;
                font-size: 12px;
                line-height: 12px;
                font-weight: 500;
                padding: 14px 20px 12px;
                text-align: center;
                text-transform: uppercase;
                font-family: $font-lora;
                margin-bottom: 15px;
                &:hover {
                    background-color: #00000000;
                    color: #000;
                    border: 1px solid #000;
                }
            }
            .header-cart_checkout {
                background-color: $secondary-color;
                border: 1px solid $secondary-color;
                color: #fff;
                font-size: 12px;
                line-height: 12px;
                font-weight: 500;
                padding: 14px 20px 12px;
                text-align: center;
                text-transform: uppercase;
                font-family: $font-lora;
                margin-bottom: 15px;
                &:hover {
                    background-color: #00000000;
                    color: #000;
                    border: 1px solid #000;
                }
            }
        }
    }
}
.cart-list::-webkit-scrollbar {
    width: 2px;
}
.cart-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #fff;
}

.cart-list::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    outline: 1px solid $secondary-color;
}
@media screen and(max-width: 991px) {
    .header-cart{
        margin-left: 15px;
    }
}