@import 'variables';
@import 'font';
@import 'custom';
@import '../components/Header/header';
@import '../components/Slide//slide';
@import '../components/Collection/collection';
@import '../components/Slogan/slogan';
@import '../components/FeatureProducts/featuresProduct';
@import '../components/News/new';
@import '../components/SubcribeEmail/SubscribeEmail';
@import '../components/Footer/Footer';
@import '../components/Banner/Banner';
@import '../components//FilterCategory/FilterCategory';
@import '../components/ProductsOverview/ProductOverview'
